{{/* renovate: datasource=github-releases depName=junegunn/fzf */}}
{{- $fzfVersion := "0.67.0" -}}
{{/* renovate: datasource=github-releases depName=rbenv/rbenv */}}
{{- $rbenvVersion := "1.3.2" -}}
{{/* renovate: datasource=github-releases depName=rbenv/ruby-build */}}
{{- $rubyBuildVersion := "20251203" -}}
{{/* renovate: datasource=github-releases depName=jdx/mise */}}
{{- $miseVersion := "v2025.12.6" -}}

[".local/bin/mise"]
    type = "archive-file"
    url = "https://github.com/jdx/mise/releases/download/{{ $miseVersion }}/mise-{{ $miseVersion }}-{{ .chezmoi.os | replaceAllRegex "darwin" "macos" }}-{{ .chezmoi.arch | replaceAllRegex "amd64" "x64" }}.tar.gz"
    stripComponents = 1
    path = "bin/mise"
[".fzf"]
    type = "archive"
    url = "https://github.com/junegunn/fzf/archive/refs/tags/v{{ $fzfVersion }}.tar.gz"
    exact = true
    stripComponents = 1
[".fzf/bin"]
    type = "archive"
    exact = true
    url = "https://github.com/junegunn/fzf/releases/download/v{{ $fzfVersion }}/fzf-{{ $fzfVersion }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".fzf-tab-completion"]
    type = "archive"
    url = "https://github.com/lincheney/fzf-tab-completion/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".bash-preexec"]
    type = "archive"
    url = "https://github.com/rcaloras/bash-preexec/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".dircolors-solarized"]
    type = "archive"
    url = "https://github.com/seebi/dircolors-solarized/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
["bin/git-rebase-all"]
    type = "archive-file"
    url = "https://github.com/nornagon/git-rebase-all/archive/refs/heads/master.zip"
    stripComponents = 1
    path = "git-rebase-all"
[".neobundle.vim"]
    type = "archive"
    url = "https://github.com/Shougo/neobundle.vim/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
["bin/projectdo"]
    type = "archive-file"
    url = "https://github.com/paldepind/projectdo/archive/refs/heads/master.zip"
    stripComponents = 1
    path = "projectdo"
[".rbenv"]
    type = "archive"
    url = "https://github.com/rbenv/rbenv/archive/refs/tags/v{{ $rbenvVersion }}.zip"
    stripComponents = 1
    refreshPeriod = "168h"
[".ruby-build"]
    type = "archive"
    url = "https://github.com/rbenv/ruby-build/archive/refs/tags/v{{ $rubyBuildVersion }}.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "168h"
[".vim/colors/solarized.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/altercation/vim-colors-solarized/refs/heads/master/colors/solarized.vim"
    refreshPeriod = "1680h"

# https://github.com/jorgebucaran/fisher.git

