# vim: set ts=8 sw=8 noet :
[include]
	path = .gitconfig.local
[color]
	ui = auto
[merge]
	tool = fugitive
	conflictstyle = diff3
[core]
	deltaBaseCacheLimit = 1G
	excludesfile = ~/.gitignore-global
[mergetool "fugitive"]
	cmd = gvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	dump = cat-file -p
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	l = log --pretty=format:'%C(yellow)%h%C(white) %an <%ae> %>|(80)%ai%Creset%n%C(bold)%w(0,4,4)%s%C(reset)%n%+b'
	lg = log
	ll = log --stat
	lp = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	st = status
	type = cat-file -t
	up = pull --rebase --autostash
[push]
	default = simple
[init]
	defaultBranch = main
