[settings]
idiomatic_version_file_enable_tools = []

[tools]
age = "1.2.1"
cosign = "2.5.0"
dprint = "0.50.0"
jq = "1.7.1"
ripgrep = "14.1.1"
usage = "2.1.1"

{{- if eq .chezmoi.username "kenny" }}
flux2 = "2.6.1"
kubectl = "1.27.16"
{{- end }}
